@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

:root{
  --dark-blue: #363f5f;
  --secondary-text-color: #969cb3;
  --primary-color: #1D5E42;
  --secondary-color: #02AB62;
  --income-text: #12a454;
  --red-text: #e92929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 93.75%;
}

body{
  background: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: min(90vw, 800px);
  margin: auto;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h2{
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;

  color: var(--dark-blue);
  font-weight: normal;
}

header{
  background: var(--primary-color);
  padding: 2rem 0 12rem;

  text-align: center;
}

header #logo{
  color: #fff;
  font-weight: 400;
}

header #logo span{
  color: var(--secondary-color);
}

#balance{
  margin-top: -6rem;
}

#balance h2{
  color: #fff;
}

.card{
  background: #fff;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;

  border-radius: 0.5rem;

  color: var(--dark-blue);
}

.card h3{
  font-weight: normal;
  font-size: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card p{
  font-size: 2rem;
  line-height: 3rem;

  margin-top: 1rem;
}

.card img{
  width: 24px;
  height: 24px;
}

.card.total svg{
  stroke: var(--secondary-color);
}

.card.total.positive{
  background: var(--secondary-color);
  color: #fff;
}

.card.total.positive svg, .card.total.negative svg{
  stroke: #fff;
}

.card.total.negative{
  background: #e92929;
  color: #fff;
}

.add-transactions{
  width: 100%;
  display: grid;
  margin: 2rem auto;
  gap: 1rem;
  justify-content: center;
}

button.new{
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  color: #FFF;
  cursor: pointer;
  background: var(--dark-blue);
}

#transaction .table{
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table{
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--secondary-text-color);
}

#data-table th{
  background: #fff;
  font-weight: normal;
  text-align: left;
  padding: 1rem 2rem;
}

#data-table td{
  background: #fff;
  padding: 1rem 2rem;
}

#data-table tbody tr{
  opacity: 0.8;
}

#data-table tbody tr:hover{
  opacity: 1;
}

#data-table thead th:first-child, 
#data-table tbody td:first-child{
  border-radius: 0.5rem 0 0 0.5rem;
}

#data-table thead th:last-child, 
#data-table tbody td:last-child{
  border-radius: 0 0.5rem 0.5rem 0;
}

#data-table tbody tr img{
  cursor: pointer;
}

td img{
  width: 24px;
  height: 24px;
}

td.description{
  color: var(--dark-blue);
}

td.income{
  color: var(--income-text);
}

td.expense{
  color: var(--red-text);
}

#msg {
  width: 100%;
  padding: 1rem;
  color: var(--dark-blue);
  text-align: center;
}

.modal-overlay{
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}

.modal{
  background: #f0f2f5;

  position: relative;
  width: 90%;
  max-width: 500px;

  border-radius: 0.4rem;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  border-bottom: 1px solid #969cb338;

  color: var(--dark-blue)
}

.modal-header h2{
  margin: 0;
  font-size: 1.3rem;
}

.modal-header span{
  cursor: pointer;
  display: flex;
}

#form{
  padding: 1rem 2rem;
  max-width: 500px;
}

.input-group-radio{
  display: flex;
  justify-content: center;
}

.input-type-transaction{
  display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;
}

.input-type-transaction input{
  position: absolute;
  left: -9999px;
}

.input-type-transaction input:checked + span:before{
  box-shadow: inset 0 0 0 0.4375em var(--income-text);
}

.input-type-transaction.expense input:checked + span:before{
  box-shadow: inset 0 0 0 0.4375em var(--red-text);
}

.input-type-transaction span{
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em; 
}

.input-type-transaction span:before{
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em var(--income-text);
}

.input-type-transaction.expense span:before{
  box-shadow: inset 0 0 0 0.125em var(--red-text);
}

#form .input-group{
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#form .input-group img{
  width: 18px;
  height: 18px;
}

#form .input-group input{
  border: none;
  border-radius: 0.5rem;

  padding: 0.8rem;
  width: 100%;
}

#form .input-group.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

#form .input-group.actions button{
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;

  cursor: pointer;
}

#form .input-group.actions button[type="submit"]{
  background: var(--primary-color);
  color: #fff;
}

#form .input-group.actions button.cancel{
  background: rgb(136, 136, 136);
  color: #fff;
}

footer{
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;

  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (min-width: 800px){
  html{
    font-size: 87.5%;
  }

  #balance{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}